body {
  background: black;
  color: #00ff88;
  font-family: monospace;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.terminal {
  background: #020202;
  border: 2px solid #00ff88;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

button {
  background: #00ff88;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

pre {
  white-space: pre-wrap;
  min-height: 200px;
}
