body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.form {
  margin: 20px;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}