body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  padding: 15px;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
}

header input {
  margin-top: 10px;
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

button {
  padding: 8px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #444;
}

.cart-panel {
  padding: 15px;
  background: #fff;
}

@media(min-width: 768px){
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}